<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="bg"></div>
    <div id="padding"><h1 class="fancy namer">Decod'shala</h1></div>
    <div id="padding2">
        <div class="row">
            <div class="col-6">
                <h5 id="timer">00:00:00</h5>
            </div>
            <div class="ms-3 col-4">
                <h5>Points: <span id="points"><%= points %></span></h5>
            </div>
        </div>
        
        <h5 id="message"><%= msg %></h5>
    <form action="/buzzer" method='POST' id="myform">
    
    <div id="" class="row">
        <div class="col-md-9 col-12" id="msg-container2">
            <h1 class="display-5" id="msg">Waiting for question...</h1>
    </div>
    <div class="col-md-3 col-12">
        <button type="button" class="btn btn-danger m-3 hover" id="buzzer" onclick="disable(this)">Buzz</button>
    </div>
    
    <audio id="audio">
        <source src="/buzzer.mp3" type="audio/mp3">
    </audio>
    <input type="hidden" name="number" id="number" value="<%= number %>">
    <input type="hidden" name="time" value="" id="time">
    <input type="hidden" name="id" id="id" value="">
    <input type="hidden" name="press" id="press" value="no">
    </div>
    </form>
    
</div>
    <script> 
        window.onload = () => {
            setTimeout( setInterval(checker, 2000),1000);
        }
        let endtime;
       
        function checker () {
            fetch('/check/'+ document.getElementById('number').value)
            .then(response => response.json())
            .then(response => {
                if(response.status == true){
                    if(response.question == "end") {
                        window.location.href = "/results";
                    } else {
                    buzzer.disabled = false;
                    document.getElementById("message").innerHTML = response.message;
                    document.getElementById("msg").innerHTML = response.question;
                    document.getElementById("id").value = response.id;
                    shala_timer = setInterval(Timer, 1000);
                    endtime = new Date(Date.now() + 15000).getTime();
                    console.log('start');
                    }
                }
            }).catch(err => console.log(err));
        }
        var isClicked = false;
        var shala_timer;
        var buzzer = document.getElementById('buzzer');
        buzzer.disabled = true;
        //buzzer.addEventListener('onclick', function() {
        //    buzzer.disabled = true;
        //    isClicked = true;
        //});
        let time = document.getElementById("time");
        function disable(param) {
            document.getElementById("press").value = "yes";
            param.disabled = true;
            param.classList.remove('hover');
            time.value = (new Date()).toLocaleString();
            document.getElementById("audio").play();
        }

       
        
        const form = document.getElementById("myform");
        //form.addEventListener("submit", function(event){
           // event.preventDefault();
           // let time = document.getElementById("time");
           // time.value = (new Date()).toLocaleString();
            //form.submit();
         // });

        
        const timer = document.getElementById('timer');
        //let endtime = new Date('01/22/2022 00:33:00 AM').getTime();


        // let day = Math.floor(diff / (1000*60*60*24));

        
        function Timer(){ 
            let current = new Date().getTime();
            
            let diff = endtime - current;
            let hour = Math.floor( (diff % (1000*60*60*24)) / (1000*60*60) );
            let min = Math.floor( (diff % (1000*60*60)) / (1000*60) );
            let sec = Math.floor( (diff % (1000*60)) / (1000) );

            timer.innerText = hour + ":" + min + ":" + sec; 
            //console.log(diff);
            if(hour <= 0 && min <= 0 && sec <= 0) {
                stopTimer();
                timer.innerText = "00:00:00";
                if(time.value == '') {
                    time.value = (new Date()).toLocaleString();
                }
                //let tosSubmit = document.getElementById('hunt-form');
                form.submit();

            }
        }
        
        function stopTimer() {
            clearInterval(shala_timer);
        }
    </script>
</body>
</html>